<!DOCTYPE html>
<html lang="en">
  
  <body>
    <nav>
      <div>
        <a href="/"><h2>Eggys</h2></a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <section>
      <h2>Opps,EJS Wrong Path</h2>
    </section>

    <footer>
      <p>&copy;Eggys 2023</p>
    </footer>
  </body>
</html>
