<!DOCTYPE html>
<html lang="en">
 
  <body>
    <nav>
      <div>
        <h2><a href="/">Eggys</a></h2>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <section class="container">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
        pariatur voluptatum dolorem magnam corporis repellat nemo nisi excepturi
        dicta quaerat!
      </p>
    </section>
    <footer>
      <p>&copy;Eggys 2023</p>
    </footer>
  </body>
</html>
