<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>

  <body>
    <% include ('../partials/nav.ejs') %>
    <main class="container">
      <form action="">
        <label for="name">Title</label>
        <input type="text" id="name" />
        <label for="profession">Profession</label>
        <input type="text" id="profession" />
        <label for="description">Description</label>
        <input type="text" id="description" />
        <textarea id="description" cols="30" rows="10"></textarea>
        <br><br>
        <button>Submit</button>
      </form>
    </main>

    <% include('../partials/footer.ejs') %>
  </body>
</html>
